@font-face {
  font-family: "GothamPro";
  src:
    url("/fonts/GothaProReg.woff") format("woff"),
    url("/fonts/GothaProReg.woff") format("woff2");
  font-weight: normal;
}
    
@font-face {
  font-family: "GothamPro";
  src:
    url("/fonts/GothaProBol.woff") format("woff"),
    url("/fonts/GothaProBol.woff2") format("woff2");
  font-weight: bold;
}
